{% extends 'base.html' %}
{% block content %}
<h1>Search</h1>

<form method="GET" >
    <label for="search_query">Search:</label>
    <input type="text" id="search_query" name="q" required>
    <button type="submit">Search</button>
</form>
<div>
    {% if results %}
        <h2>Results for "{{ query }}"</h2>
        <ul>
            {% for result in results %}
                <li>{{ result }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found for "{{ query }}".</p>
    {% endif %}
</div>




{% endblock %}